@font-face {
    font-family: regular;
    src: url(fonts/Syne-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(fonts/Syne-Bold.otf);
}
*{
    font-family: regular;
}
:root{
    --bgcolor: rgb(24, 26, 27);
    --purple: rgb(159, 90, 248);
}
body {
    font-family: regular;
    margin: 0;
    font-size: 1rem;
    background-color: rgb(24, 26, 27);
    color: aliceblue;
}
a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
header {
    width: 100%;
    position: fixed;
    z-index: 99;
    text-align: center;
    margin-top: 10px;
}
header nav a {
    color: aliceblue;
    font-size: small;
    margin: 0 30px;
}
.tab {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}

.tab .container {
    width: 1140px;
    max-width: 100%;
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
#intro .container {
    display: flex;
    justify-content: end;
}
#intro .photo{
    background-image: url(images/photoz.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0;
    left: 0;
    filter: opacity(0.5);
}
#intro {
    background-image: linear-gradient(45deg, rgb(24, 26, 27), rgb(24, 26, 27), rgb(67, 38, 105));
}
#intro .content{
    /* border: 1px solid red; */
    position: relative;
    box-sizing: border-box;
    width: 50%;
    padding-left: 50px;
    transform: translateY(-20%);
}
#intro .content .name,
#intro .content .job{
    font-size: 2.5em;
    font-family: bold;
    line-height: 1em;
}
.text-gradient{
    background-image: linear-gradient(
        to right, rgb(99, 63, 230), rgb(156, 87, 247)
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    font-family: bold;
}
#intro .content .desc{
    margin-top: 1.2em;
    width: 70%;
    font-family: regular;
}
#intro .content a{
    margin-top: 1.2em;
    font-family: regular;
}
/* exp */
#exp {
    background-image: linear-gradient(
        45deg, rgb(43, 21, 124), rgb(24, 26, 27), rgb(24, 26, 27), rgb(43, 21, 124)
    );
    /* background-size: cover; */
}
#exp .container .list{
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    padding-left: 50px;
    gap: 20px;
    position: relative;
    z-index: 1;
}
#exp .container {
    overflow: auto;
}
#exp .list .item {
    width: 210px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 15px;
}
#exp .list .content {
    gap: 5px;
}
#exp .list .item .time {
    color: rgb(15, 15, 15);
    background-color: rgb(185, 180, 180);
    width: 50px;
    height: 50px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

#exp .list .item .job{
    font-size: 1.3em;
}
#exp .list .item .content .desc{
    font-size: .8em;
    opacity: 0.7;
}
#exp .list .item .content .company{
    font-size: 1em;       
    color: rgb(159, 90, 248);
}
#exp .list .item:nth-child(odd) .content{
    grid-row-start: 1;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
#exp .list .item:nth-child(odd) .time{
    grid-row-start: 2;
}
#exp .list .item:nth-child(even) .content{
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
}
#exp .list .item:nth-child(even) .time{
    grid-row-start: 2;
} 
#exp .list::before {
    position: absolute;
    height: 2px;
    width: 100%;
    content: '';
    background-color: gray;
    top: 50%;
    z-index: -1;
}

/* skILLS */
#skill {
    background-image: linear-gradient(
        45deg,rgb(24, 26, 27), rgb(24, 26, 27), rgb(43, 21, 124)
    );
}
#skill .list{
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    box-sizing: border-box;
    gap: 0;
}
#skill .list .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}
#skill .list .item:nth-child(odd){
    color: rgb(24, 23, 23);
    background-color: rgba(250, 235, 215, 0.582);
    border-radius: 5px;
}
#skill .list .item .name{
    font-size: large;
    font-family: bold;
    padding: 10px;
}
#skill .list .item:nth-child(odd) .desc{
    font-weight: 2em;
}
#skill .list .item .desc{
    opacity: .7;
}

/* pROJECT  */
#project {
    background-image: linear-gradient(to top, rgb(24, 26, 27), rgb(24, 26, 27), rgb(54, 21, 97));
    color: rgb(223, 217, 217);
}
#project .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
}
#project .list .item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
#project .list .item {
    border-radius: 10px;
    background-color: rgb(15, 15, 15);
    overflow: hidden;
    position: relative;
    border: 1px solid  rgb(159, 90, 248);
}
#project .list .item::after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent, transparent );
    position: absolute;
}
#project .list .item .index {
    font-weight: bold;
    font-family: bold;
    font-size: 2.5em;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}
#project .list .item .name{
    /* border: 1px solid red;  */
    position: absolute;
    font-size: bold;
    font-family: bold;
    transform: translateY(-100%);
    width: max-content;
    padding: 10px;
    background-color: rgb(15, 15, 15);
    border-top-right-radius: 20px;
    z-index: 1;
}
#project .list .item .desc{
    /* border: 1px solid red; */
    font-family: regular;
    padding: 10px;
    opacity: 0.8;
}
#project .list .item .position{
    align-self: baseline;
    padding: 20px;
    color: var(--purple);
}

/* contanct */
#contact {
    background-color: var(--bgcolor);
}
#contact .thanks{
    font-family: bold;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    transform: translateY(-100%);    
}
#contact .container{
    /* border: 1px solid #008cff; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact .container .desc{
    text-align: center;
    transform: translateY(-100%);
}
#contact .container .list img{
    height: 20px;
    width: 20px;
    filter: invert(1);
}
#contact .container .list{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    bottom: 10%;
}
#contact .container .list .item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
}
@media screen and (max-width: 390px){
    header nav a{
        margin: 10px;
    }
    header {
        background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.616));
        margin-top: unset;
    }
    header nav {
        margin-top: 5px;
    }
    #intro .photo{
        width: 100%;
    }
    #intro .content{
        width: 100%;
    }
    #intro .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body {
        font-size: 10px;
    }
    #exp .list{
        padding-left: 70px;
    }
    #skill .container{
        display: flex;
        justify-content: center;
        padding-top: unset;
    } 
    #skill .list {
        display: flex;
        justify-content: center;
        align-items: start;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #skill .list .item:nth-child(odd){
        background-color: unset;
        color: aliceblue;
    }
    #skill .list .item:nth-child(odd) .desc{
        font-weight: unset;
    }

    #project .container .list{
        display: flex;
        justify-content: center;
        width: max-content;
        position: relative;
        padding: 0 50px 0 50px;

    }
    #project .container {
        overflow: auto;
    }
    #project .container .list .item{
        width: 300px;
    }

    #contact .container .thanks {
    transform: translateY(-150%);
    }
    #contact .container .desc{
        padding: 0 20px 0 20px;
    }
    #contact .container .list{
        bottom: 20px;
    }
}

.tab{
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}

#intro{
    z-index: 2;
}

.tab.active {
    --x: 50%;
    --y: 50%;
    clip-path: circle(
        100px at var(--x) var(--y)
    );
    animation: showtab 1s ease-in-out 1 forwards;
}
@keyframes showtab {
    to{
        clip-path: circle(
            200% at 50% 50%
        );
    }
}